body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myButton {
    font-size: 3em;
    border-radius: 5px;
    padding: 5px 10px;
}

.myLabels {
    font-size: 3em;
}